* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(52, 52, 142);
    padding: 1rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

footer {
    margin-top: 30rem;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 2px;
}

.nav {
    display: flex;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.products-container {
    min-height: 30vh;
    display: grid;
    place-items: center;
}

.oscuro {
    background-color: black !important;
}

.item-list-container {
    max-width: 1000px;
    margin: 0 auto;
}

.producto-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.producto {
    border-radius: .5rem;
    background-color: rgb(52, 52, 142);
    padding: 1rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.logo {
    background-color: rgb(52, 52, 142);
   color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 

}

.verMas {
    font-size: 18px; /* Tamaño de fuente más grande */
    font-family: Arial, sans-serif; /* Tipo de fuente alternativo */
    color: #fff; /* Color de texto blanco */
    text-decoration: none; /* Elimina la subrayado del enlace */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra negra suave */
  }
  

.pokemons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 3rem;
}

.grid {
    display: grid;
}